<div class="main-container">
  <div class="header">
    <h1>USUÁRIOS</h1>
  </div>

  <div class="nav-buttons">
    <!-- O routerLinkActive aplicará uma classe CSS quando a rota filha estiver ativa -->
    <button [routerLink]="['consultar']" routerLinkActive="active-button">CONSULTAR</button>
    <button [routerLink]="['cadastrar']" routerLinkActive="active-button">CADASTRAR</button>
  </div>

  <div class="content-area">
    <!-- Onde os componentes filhos (lista de usuários ou formulário de usuário) serão carregados -->
    <router-outlet></router-outlet>
  </div>
</div>
