<div class="header-content">
  <div class="header-left">
    <button class="menu-toggle-button" (click)="toggleSidebarEvent.emit()">
      <span class="material-icons">menu</span> </button>
    <img src="https://placehold.co/40x40/5061D4/ffffff?text=Logo" alt="Logo A7WEB" class="logo">
    <span class="system-name">A7WEB</span>
  </div>

  <div class="header-center">
    <nav class="top-nav">
      <ul>
        <li (click)="navigateToProducts()">
          <span class="material-icons nav-icon">inventory_2</span>
          Produtos
        </li>
        <li (click)="navigateToClients()">
          <span class="material-icons nav-icon">people</span>
          Clientes
        </li>
        <li (click)="navigateToPdv()">
          <span class="material-icons nav-icon">point_of_sale</span>
          PDV
        </li>
        <li (click)="navigateToRecebimento()">
          <span class="material-icons nav-icon">move_to_inbox</span>
          Recebimento
        </li>
        <li (click)="navigateToEntrada()">
          <span class="material-icons nav-icon">outbox</span>
          Entrada
        </li>
      </ul>
    </nav>
  </div>

  <div class="header-right">
    <div class="icon-group">
      <span class="material-icons icon">settings</span>
    </div>
    <div class="user-info">
      <div class="user-avatar">
        <span class="avatar-letter">{{ userName.charAt(0).toUpperCase() }}</span>
      </div>
      <div class="user-details">
        <span class="user-name">{{ userName }}</span>
        <span class="user-email">{{ userEmail }}</span>
      </div>
    </div>
  </div>
</div>
